<!-- campos que se pueden reutilizar para crear algo -->
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <button type="button" class="btn btn-outline-info" (click)="resetGame()">Reset Game</button>
                <button type="button" class="btn btn-danger" (click)="exit()">Exit Game</button>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

            </div>
        </div>
    </div>
</div>

<!-- GENERA EL CANVAS PARA LA CREACIÓN DEL TABLERO-->
<!-- SE PIENSA CREAR UN JUEGO DEPENDIENDO DE QUÉ VENGA -->
<div style="text-align:center">
    <!-- *ngIf="gameLVL1" -->

    <canvas #canvasRef center id="stage" width="1000" height="1000" (click)="tryPlay($event)"> 
    </canvas>
</div>